* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #ffffff;
    color: #121212;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 60px;
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
  }
  
  .avatar {
    display: flex;
    align-items: center;
  }
  
  .avatar img {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .avatar .name {
    text-align: left;
  }
  
  .avatar h1 {
    font-size: 32px; /* Измените размер шрифта здесь */
    margin-bottom: 10px; /* Измените отступ здесь */
  }
  
  .avatar p {
    font-size: 22px; /* Измените размер шрифта здесь */
    color: #b1b1b1;
    margin-top: 10px; /* Добавьте отступ сверху здесь */  
  }

  .avatar a {
    font-size: 22px;
    color: cornflowerblue;
    margin-top: 10px;
  }
  
  .about {
    width: 300;
    text-align: left;
    padding: 20px;
  }
  
  .about h2 {
    font-size: 20px; /* Измените размер шрифта здесь */
    text-transform: uppercase;
    color: #b1b1b1;
    margin-bottom: 10px;
  }
  
  .about p {
    width: 300;
    word-break: break-word;
    font-size: 44px;
    margin-bottom: 10px;
  }
  
  .button-section {
    width: 280px;
    padding: 20px;
    display: flex; /* Элементы внутри секции будут в ряд */
    justify-content: space-between; /* Распределяем пространство между элементами */
}

/* Общие стили для кнопок */
.button {
    padding: 10px 20px; /* Паддинги кнопки (вертикально 10px, горизонтально 20px) */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругляем углы кнопки */
    cursor: pointer; /* Изменяем указатель мыши при наведении */
    font-size: 16px; /* Размер шрифта кнопки по умолчанию */
}

/* Стили для кнопки "Contact Me" */
.contact-button {
    background-color: #3498db; /* Цвет фона кнопки "Contact Me" */
    color: #fff; /* Цвет текста кнопки "Contact Me" */
}

/* Стили для кнопки "Look CV" */
.cv-button {
    background-color: #e74c3c; /* Цвет фона кнопки "Look CV" */
    color: #fff; /* Цвет текста кнопки "Look CV" */
}
  
  
  @media (max-width: 600px) {
    .avatar img {
      width: 80px;
    }
  
    .avatar h1 {
      font-size: 20px; /* Измените размер шрифта здесь */
    }
  
    .avatar p {
      font-size: 18px; /* Измените размер шрифта здесь */
      color: #b1b1b1;
      margin-bottom: 5px;
    }
  
    .avatar a {
    font-size: 16px;
    color: cornflowerblue;
    margin-top: 10px; 
    }
    
    .about h2 {
      font-size: 20px; /* Измените размер шрифта здесь */
      text-transform: uppercase;
      color: #b1b1b1;
      margin-top: 10px;
    }

    .about p {
    width: 300;
    word-break: break-word;
    font-size: 30px;
    margin-bottom: 10px;
    }
    .button-section {
      flex-direction: column; /* Элементы в колонку на узких экранах */
  }

  .button {
      margin-bottom: 10px; /* Расстояние между кнопками на узких экранах */
      font-size: 14px; /* Уменьшенный размер шрифта на узких экранах */
  }
}